html, body {
	margin: 0;
  padding: 0;
  font: 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  background: #ff5f5f;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder { 
  color: #ccc;
}

.todo-app {
  width: 500px;
  margin: 50px auto 0 auto;
  /* border: 1px dashed; */
}
.todo-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.todo-shadow:hover, .todo-shadow:focus-within, .todo-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.input-wrapper {
  margin-top: 30px;
}

.todo-header {
  text-align: center;
  line-height: 1.4em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.todo-header h1 {
  font-size: 50px;
  font-weight: 200;
}
.todo-input {
  width: calc(100% - 100px);
  height: 50px;
  border: none;
  color: #474747;
  padding: 0 80px 0 20px;
  border-radius: 3px;
  font-size: 25px;
  font-weight: 100;
}

.main {
  width: 100%;
  border-radius: 3px;
  color: #474747;
}

.todo-sidebar {
  width: 200px;
  padding-bottom: 10px;
  position: fixed;
  margin-left: -220px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-user-select: none;
  user-select: none;
}
.todo-sidebar h6 {
  height: 20px;
  background: rgb(243, 243, 243);
  margin: 10px 0 0 0;
  padding-left: 10px;
}
.todo-sidebar p {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0 0 5px;
  text-align: center;
}

.todo-menu {
  height: 30px;
  margin: 7px 0 0 0;
	padding: 0 6px 0 6px;
	list-style-type: none;
}
.todo-menu li a {
  min-width: 30px;
  padding: 5px 7px 5px 7px;
  display: block;
  position: relative;
  margin-left: 5px;
  float: left;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: rgb(156, 156, 156);
  background: rgb(233, 233, 233);
	border-radius: 3px;
	text-decoration: none;
}
.todo-menu li a:hover {
  background: rgb(211, 211, 211);
  cursor: pointer;
}
.todo-menu li input[type=checkbox] {
	display: none;
}
.todo-menu .active {
  background: rgb(197, 197, 197);
  color: white;
  cursor: pointer;
}
.todo-menu li .priority {
  width: 3px;
}

.todo-list {
  padding: 0;
  list-style-type: none;
}
.todo-list li {
  position: relative;
  margin-bottom: 7px;
  padding: 10px 10px 10px 10px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  animation: todo-item-appear 0.5s ease-out;
}
@keyframes todo-item-appear {
  from {
    transform: rotate(-2deg) translateY(-20px);
    opacity: 0;
  }
  to {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}
.todo-list li .toggle {
  width: 15px;
  margin: 0;
  padding: 0 25px 0 5px;
  -webkit-appearance: none;
  appearance: none;
  transition: all ease-out 0.1s;
}
.todo-list li .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 342.357 342.357" style="enable-background:new 0 0 342.357 342.357;" xml:space="preserve" width="15px" height="15px"><polygon points="290.04,33.286 118.861,204.427 52.32,137.907 0,190.226 118.862,309.071 342.357,85.606 " fill="#cccccc"/></svg>');
}
.todo-list li .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 342.357 342.357" style="enable-background:new 0 0 342.357 342.357;" xml:space="preserve" width="15px" height="15px"><polygon points="290.04,33.286 118.861,204.427 52.32,137.907 0,190.226 118.862,309.071 342.357,85.606 " fill="#00d400"/></svg>');
}
.todo-list li .toggle:hover {
  transform: scale(1.4, 1.4);
  cursor: pointer;
}
.todo-list li .toggle:checked {
  animation: toggle-scale 0.5s ease-out;
}
.todo-text {
  word-break: break-all;
  display: inline;
}
.todo-list li .toggle:checked + .todo-text {
  color: #ccc;
  text-decoration: line-through;
}

@keyframes toggle-scale {
  from {
    transform: scale(1.4, 1.4);
  }
  50% {
    transform: scale(1.7, 1.7);
  }
  to {
    transform: scale(1, 1);
  }
}

.todo-remove {
  float: right;
  transition: all ease-out 0.1s;
}
.todo-remove:hover {
  /* transform: scale(1.4, 1.4); */
  cursor: pointer;
}
.todo-list li:hover .todo-remove:after {
	content: url('data:image/svg+xml;utf8,<svg height="15px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="15px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M22.245,4.015c0.313,0.313,0.313,0.826,0,1.139l-6.276,6.27c-0.313,0.312-0.313,0.826,0,1.14l6.273,6.272  c0.313,0.313,0.313,0.826,0,1.14l-2.285,2.277c-0.314,0.312-0.828,0.312-1.142,0l-6.271-6.271c-0.313-0.313-0.828-0.313-1.141,0  l-6.276,6.267c-0.313,0.313-0.828,0.313-1.141,0l-2.282-2.28c-0.313-0.313-0.313-0.826,0-1.14l6.278-6.269  c0.313-0.312,0.313-0.826,0-1.14L1.709,5.147c-0.314-0.313-0.314-0.827,0-1.14l2.284-2.278C4.308,1.417,4.821,1.417,5.135,1.73  L11.405,8c0.314,0.314,0.828,0.314,1.141,0.001l6.276-6.267c0.312-0.312,0.826-0.312,1.141,0L22.245,4.015z" fill="#cccccc"/></svg>');
}

.priority {
  position: absolute;
  left: 0; /* 495px */
  right:0;
  top:0;
  bottom:0;
  width: 5px;
  border-radius: 3px 0 0 3px;
}
.regular {
  background: #ccc;
}
.important {
  background: rgb(194, 194, 0);
}
.ultra {
  background: rgb(180, 0, 180);
}

.selector-regular, .selector-important, .selector-ultra {
  min-width: 70px;
  position: relative;
  margin: -33px 10px 0 0;
  z-index: 1;
  float: right;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  cursor: pointer;
}
.selector-regular:after {
  content: 'regular';
  color: #ccc;
}
.selector-important:after {
  content: 'important';
  color: rgb(194, 194, 0);
}
.selector-ultra:after {
  content: 'ultra';
  color: rgb(180, 0, 180);
}

.todo-edit {
  position: absolute;
  left: 10px;
  top: 0;
  width: calc(100% - 20px);
  height: 100%;
  border: none;
  font-size: 25px;
  font-weight: 100;
  color: #474747;
  box-sizing: border-box;
}